Repository CosyHouse/Zilliqa-JavaScript-Library, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bb111189, @AmritKumar, @renlulu, @teye, @noel-yoo, @evesnow91

.github/CODEOWNERS:

########## Global owners ##########

*               @bb111189 @AmritKumar

########## Source Code ##########

*.ts            @bb111189 @renlulu @teye @noel-yoo

########## Documentation ##########

/README.md      @bb111189 @evesnow91 @AmritKumar @renlulu @teye @noel-yoo

########## GitHub metadata, including this file ##########

/.github/        @bb111189 @AmritKumar

fix hang issue on create batch transaction
  packages/zilliqa-js-blockchain/src/chain.ts
Owners: @bb111189, @renlulu, @teye, @noel-yoo

feat: contract, account, blockchain -> core as dep
  packages/zilliqa-js-account/src/types.ts
  packages/zilliqa-js-blockchain/src/chain.ts
  packages/zilliqa-js-blockchain/tsconfig.json
  packages/zilliqa-js-contract/src/types.ts
  packages/zilliqa-js-core/src/types.ts
Owners: @bb111189, @renlulu, @teye, @noel-yoo, @AmritKumar

fix: use blockchain pkg
  packages/zilliqa-js-contract/src/contract.ts
Owners: @bb111189, @renlulu, @teye, @noel-yoo

fix: pkg ref
  packages/zilliqa-js-blockchain/package.json
  packages/zilliqa-js-blockchain/tsconfig.json
  packages/zilliqa-js-contract/tsconfig.json
  packages/zilliqa-js-core/tsconfig.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-crypto/package.json & packages/zilliqa-js-crypto/yarn.lock to reduce vulnerabilities
  packages/zilliqa-js-crypto/package.json
  packages/zilliqa-js-crypto/yarn.lock
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/util from 0.4.0 to 0.11.1
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade axios from 0.18.1 to 0.21.1
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/blockchain from 0.4.0 to 0.11.1
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/blockchain from 0.4.0 to 0.11.1
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/account from 0.4.0 to 0.11.1
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/contract from 0.4.0 to 0.11.1
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/core from 0.4.0 to 0.11.1
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/account from 0.4.0 to 0.11.1
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/account from 0.4.0 to 0.11.1
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/core from 0.4.0 to 0.11.1
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/util from 0.4.0 to 0.11.1
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: upgrade @zilliqa-js/util from 0.4.0 to 0.11.1
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-contract/package.json to reduce vulnerabilities
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa/package.json to reduce vulnerabilities
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-blockchain/package.json to reduce vulnerabilities
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa/package.json to reduce vulnerabilities
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-blockchain/package.json to reduce vulnerabilities
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-contract/package.json to reduce vulnerabilities
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-blockchain/package.json to reduce vulnerabilities
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa/package.json to reduce vulnerabilities
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-contract/package.json to reduce vulnerabilities
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa/package.json to reduce vulnerabilities
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-contract/package.json to reduce vulnerabilities
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-blockchain/package.json to reduce vulnerabilities
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-blockchain/package.json to reduce vulnerabilities
  packages/zilliqa-js-blockchain/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa/package.json to reduce vulnerabilities
  packages/zilliqa/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-core/package.json to reduce vulnerabilities
  packages/zilliqa-js-core/package.json
Owners: @bb111189, @AmritKumar

fix: packages/zilliqa-js-contract/package.json to reduce vulnerabilities
  packages/zilliqa-js-contract/package.json
Owners: @bb111189, @AmritKumar
